li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5px;
}
ul{
    padding: 0;
}

.link-nav{
    text-decoration: none;
    color: white;
}

.nav-container{
    background-color: rgb(6, 107, 107);
    color: white;
    height: 75px;
}